.jumbotron{

  
    background-image: url(img/image-1.jpg);
    background-size: cover;
    background-position: 40%;
    height: 55vh;
    
    
    
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

.as{

  
  width: 190px;
  height: 190px;

}

.cm{
  width: 190;
  height: 190px;
}

.dg{
  width: 190px;
  height: 190px;
}


h5{

  text-align: center;
}

.boton{

  display: flex;
  justify-content: center;
  margin: 50px;

}

.done{

  width: 23px;
  height: 23px;
}



.botones{

  display: flex;
  justify-content: center;
  margin: 20px;
  

}

.boton1{

  margin: 40px;
  padding: 20px;
  
  
}

.boton2{

  margin: 40px;
  padding: 20px;
}

.boton3{

  margin: 40px;
  padding: 20px;
}

#testimonial{

    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(238,237,237,1) 100%);
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
  
  }

  .testimonial{

    display: flex;
    justify-content: center;
  }

  .titulo{
    font-size: 40px;
    font-weight: bold;
    color: #0069d9;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0px 0px 10px white;
  }

  .mkd{
      display: flex;
      justify-content: center;
      width: 90%;
      margin-top: 30px;


  }

  .mkd2{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 30px;
    padding: 30px;
    
  }

  .mkd3{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 50px;
    padding: 70px;
    
  }

  .subtitle{
    font-size: 20px;
    font-weight: bold;
    color: #0069d9;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0px 0px 10px white;
  }

  .footer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: #f2f1f1;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
  }

  .logo-footer{

    width: 300px;
    height: 200px;
  }

  /*contacto*/

  h1{

    text-align: center;
  }